.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: black;
}

.search-form {
    width: 500px;
}

.search-form__input {
    width: 100%;
    padding: 10px 30px;
    color: #000;
    font-size: 25px;
    border: none;
    border-radius: 3px;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    width: 370px;
}

.header-navigation__login, .header-navigation__logout {
    background: transparent;
    color: white;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.header-navigation__mypage {
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.header-navigation__sell {
    background: white;
    padding: 10px 20px;
    color: black;
    font-size: 25px;
    text-decoration: none;
    border-radius: 3px;
}