body {
    font-family: "Inter", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: black;
}

.search-form {
    width: 500px;
}

.search-form__input {
    width: 100%;
    padding: 10px 30px;
    color: #000;
    font-size: 25px;
    border: none;
    border-radius: 3px;
}