.detail-page {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1500px;
    margin: 100px auto;
}

.item-image {
    width: 45%;
    margin-top: 20px;
}

.item-image__img {
    width: 100%;
}

.item-detail {
    width: 45%;
    margin-left: 10%;
}

.item-name {
    margin: 0;
    font-size: 40px;
}

.item-brand {
    margin: 0;
}

.item-price {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.item-price__value {
    font-size: 30px;
}

.item-utilities {
    display: flex;
    margin-left: 20px;
}

.utilities-favorite {
    margin-right: 40px;
}

.favorite-icon, .comment-icon {
    width: 30px;
}

.comment-icon {
    width: 27px;
}

.favorite-icon__img, .comment-icon__img {
    width: 100%;
}

.favorite-count, .comment-count {
    margin: 5px 0 10px 0;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.transition__purchase-page {
    display: block;
    width: 100%;
    padding: 5px 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: #ff5555;
    cursor: pointer;
}

.item-description {
    margin-bottom: 50px;
}

.item-description__title {
    font-size: 30px;
}

.item-description__content {

}

.item-data__header {
    margin-bottom: 10px;
    font-size: 30px;
}

.item-data__table {
    margin-bottom: 50px;
}

.item-data__table-header {
    padding: 10px 0;
}

.item-data__table-categories {

}

.item-data__table-category {

}

.item-data__table-condition {

}

.comments-header {
    margin: 0;
    margin-bottom: 10px;
    color: #5f5f5f;
    font-size: 30px;
}

.comment-user {

}

.comment-user__image {
    
}

.comment-user__image-img {

}

.comment-user__name {

}

.comment-content {

}

.comment-form {

}

.comment-form__header {
    margin: 0;
}

.comment-form__textarea {
    width: 100%;
    height: 200px;
}

.comment-form__button-submit {
    width: 100%;
    margin: 30px 0;
    padding: 5px 0;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background: #ff5555;
}