.index-page {
    margin: 0 auto;
    padding: 20px 0;
}

.index-page__header {
    padding: 0 200px;
    border-bottom: 1px solid #5f5f5f;
}

.page-tab {
    padding: 10px 50px 0 0;
    color: #5f5f5f;
    font-weight: bold;
    text-decoration: none;
}

.page-tab__select {
    color: red;
}