.items-exhibition {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1540px;
    margin: 0 auto;
    padding: 50px;
}

.items-exhibition::before,
.items-exhibition::after {
    content: "";
    width: 300px;
}

.items-exhibition::before {
    order: 1;
}

.exhibition-card {
    width: 300px;
    text-decoration: none;
    margin-bottom: 50px;
}

.exhibition-card__image {
    position: relative;
    width: 300px;
    background-color: black;
}

.exhibition-card__image-img {
    width: 100%;
}

.image-img__sold {
    opacity: 0.3;
}

.exhibition-card__image-sold {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin: 0 auto;
    color: white;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    transform: translate(-50%, -50%);
}

.exhibition-card__name {
    margin: 0;
    color: black;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
