.sell-page {
    max-width: 600px;
    margin: 0 auto;
}

.sell-page__header-title {
    margin: 30px auto;
    font-size: 30px;
    text-align: center;
}

.sell-form {

}

.sell-form__image-upload {

}

.image-upload__header {
    margin: 0;
    font-weight: bold;
}

.image-upload {
    width: 100%;
    padding: 50px;
    text-align: center;
    border: 1px dotted #000;
    border-radius: 3px;
}

.image-upload__image {
    width: 100%;
    height: 0;
}

.image-upload__image-img {
    width: 100%;
}

.image-upload__label {
    padding: 8px 20px;
    color: #ff5755;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid #ff5755;
    border-radius: 7px;
    cursor: pointer;
}

.image-upload__input {
    display: none;
}

.sell-form__detail {

}

.sell-form__detail-header {

}